//extends layout
html
    head
        title= 'home'
        body
            block content
                //  button(name='btn',onclick="alert('123123')") 提交
| <a href='http://baidu.com'>
<button name='btn'>click
</a>