//extends layout
html
    head
        title= 'home'
        body
            block content
                  //button(name='btn',onclick="alert('123123')") 提交
| <a href='http://baidu.com'>
<button name='btn'>click
</a>

//|<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
//
//<a href='http://baidu.com'>
//<button name='btn'>click
//</a>
//
//<html ng-app="calculator">
//<head>
//<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
//
//<title>home</title></head>
//<body> Hello {{'World'}}!
//</body>
//</html>